name: Check

on:
  push:
    branches:
      - master

  pull_request:
    types:
      - opened
      - synchronize

  workflow_dispatch:

jobs:
  build:
    uses: SlashNephy/.github/.github/workflows/yarn-run.yml@master
    with:
      script: build
    permissions:
      contents: read

  lint:
    uses: SlashNephy/.github/.github/workflows/yarn-lint.yml@master
    permissions:
      contents: read
      pull-requests: write
    with:
      enable-prettier: false

  format:
    if: github.event_name != 'pull_request'
    uses: SlashNephy/.github/.github/workflows/yarn-format.yml@master
    permissions:
      contents: write
